<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Create Employee</h1>
<p>
    <a href="/employee/list">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/employee/create}" th:object="${employee}" method="post">
    <table>
        <tr>
            <td>name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>birthday:</td>
            <td><input type="text" th:field="*{birthday}"/></td>
        </tr>
        <tr>
            <td>idCard:</td>
            <td><input type="text" th:field="*{idCard}"/></td>
        </tr>
        <tr>
            <td>salary:</td>
            <td><input type="text" th:field="*{salary}"/></td>
        </tr>
        <tr>
            <td>phone:</td>
            <td><input type="text" th:field="*{phone}"/></td>
        </tr>
        <tr>
            <td>email:</td>
            <td><input type="text" th:field="*{email}"/></td>
        </tr>

        <tr>
            <td>address:</td>
            <td><input type="text" th:field="*{address}"/></td>
        </tr>
        <tr>
            <td>positionId:</td>
            <td><input type="text" th:field="*{positionId}"/></td>
        </tr>
        <tr>
            <td>educationDegreeId:</td>
            <td><input type="text" th:field="*{educationDegreeId}"/></td>
        </tr>
        <tr>
            <td>divisionId:</td>
            <td><input type="text" th:field="*{divisionId}"/></td>
        </tr>
        <tr>
            <td>username:</td>
            <td><input type="text" th:field="*{username}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Employee"></td>
        </tr>
    </table>
</form>
</body>
</html>