<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<h3>Edit blog</h3>
<p>
    <a th:href="@{/blog}">
        Back to blog list
    </a>
</p>
<div id="form">
    <form th:action="@{/blog/edit}" th:object="${blog}"
          method="POST" novalidate="novalidate" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Blog Title</label>
            <input type="text" th:field="*{title}"/>
        </div>
        <div>
            <label>Blog content</label>
            <textarea th:field="*{content}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>

</body>
</html>