<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<h3>Blog Management</h3>
<p>
    <a th:href="@{/blog}">
        Back to blog list
    </a>
</p>
<table id = "blogList">
    <thead>
    <tr>
        <th>id</th>
        <th>Blog title</th>
        <th>Blog content</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${blog}">
        <td th:text="${blog.id}"></td>
        <td th:text="${blog.title}"></td>
        <td th:text="${blog.content}"></td>
    </tr>


    </tbody>
</table>

</body>
</html>