<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<h1>Blog</h1>
<a href="/category/create">Create new Category</a>
<p th:if="${message}">
    <span th:text="${message}"></span>
</p>
<table border="1">
    <tr>
        <th>id</th>
        <th>Name</th>

    </tr>
    <th:block th:each="c : ${categories}">
        <tr>
            <td th:text="${c.id}"></td>
            <td th:text="${c.name}"></td>
            <td><a th:href="@{/category/edit/{id} (id=${c.id})}" >Edit</a></td>
        </tr>
    </th:block>
</table>

</body>
</html>