<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>Add new user</h3>
<a th:href="@{/user}" >
    Back to list user
</a>
<form th:action="@{/user/save}" th:object="${user}" method="post">
    <div class="row">
        <div >
            <label>First name</label>
        </div>
        <div >
            <input type="text"  th:field="*{firstName}">
            <div
                 th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
            </div>
        </div>
    </div>
    <div class="row">
        <div >
            <label>Last name</label>
        </div>
        <div >
            <input type="text" th:field="*{lastName}">
            <div
                 th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
            </div>
        </div>
    </div>
    <div class="row">
        <div >
            <label>Phone number</label>
        </div>
        <div class="col-9">
            <input type="text" th:field="*{phoneNumber}">
            <div
                 th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">
            </div>
        </div>
    </div>
    <div class="row">
        <div >
            <label>Age</label>
        </div>
        <div >
            <input type="text" th:field="*{age}">
            <div
                 th:if="${#fields.hasErrors('age')}" th:errors="*{age}">
            </div>
        </div>
    </div>
    <div class="row">
        <div >
            <label>Email</label>
        </div>
        <div >
            <input type="text"
                  th:field="*{email}">
            <div
                 th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
            </div>
        </div>
    </div>
    <div class="row">
        <div>
            <button type="submit">Save</button>
        </div>
    </div>
</form>
</body>
</html>